h1, h2, h3, h4, h5, h6, ul, p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  line-height: 1;
  background-color: transparent;
}
button:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0 20px;
  margin: 100px auto 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.gallows {
  max-width: 415px;
}
.gallows .main-pic {
  position: relative;
}
.gallows__hangman {
  font-size: 50px;
  font-weight: 800;
}
.gallows__head {
  position: absolute;
  top: 149px;
  left: 253px;
}
.gallows__body {
  position: absolute;
  top: 250px;
  left: 302px;
}
.gallows__left-arm {
  position: absolute;
  top: 249px;
  left: 237px;
}
.gallows__right-arm {
  position: absolute;
  top: 249px;
  left: 305px;
}
.gallows__left-leg {
  position: absolute;
  top: 378px;
  left: 238px;
}
.gallows__right-leg {
  position: absolute;
  top: 378px;
  left: 303px;
}

.game {
  text-align: center;
  max-width: 750px;
}

.hint {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.secret {
  display: flex;
  justify-content: center;
  font-size: 90px;
  gap: 50px;
  margin-bottom: 30px;
}

.guesses {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}
.guesses__number {
  font-family: sans-serif;
  color: #FE0020;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-areas: "a a b b c c d d e e f f g g h h i i" "j j k k l l m m n n o o p p q q r r" ". s s t t u u v v w w x x y y z z .";
}
.grid__item {
  font-size: 28px;
  font-weight: 700;
  padding: 15px 0;
  width: 74px;
  background-color: #5455AC;
  border-radius: 10px;
  color: white;
}
.grid__item-1 {
  grid-area: a;
}
.grid__item-2 {
  grid-area: b;
}
.grid__item-3 {
  grid-area: c;
}
.grid__item-4 {
  grid-area: d;
}
.grid__item-5 {
  grid-area: e;
}
.grid__item-6 {
  grid-area: f;
}
.grid__item-7 {
  grid-area: g;
}
.grid__item-8 {
  grid-area: h;
}
.grid__item-9 {
  grid-area: i;
}
.grid__item-10 {
  grid-area: j;
}
.grid__item-11 {
  grid-area: k;
}
.grid__item-12 {
  grid-area: l;
}
.grid__item-13 {
  grid-area: m;
}
.grid__item-14 {
  grid-area: n;
}
.grid__item-15 {
  grid-area: o;
}
.grid__item-16 {
  grid-area: p;
}
.grid__item-17 {
  grid-area: q;
}
.grid__item-18 {
  grid-area: r;
}
.grid__item-19 {
  grid-area: s;
}
.grid__item-20 {
  grid-area: t;
}
.grid__item-21 {
  grid-area: u;
}
.grid__item-22 {
  grid-area: v;
}
.grid__item-23 {
  grid-area: w;
}
.grid__item-24 {
  grid-area: x;
}
.grid__item-25 {
  grid-area: y;
}
.grid__item-26 {
  grid-area: z;
}

.modal-back {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(64, 63, 61, 0.8);
}
.modal-back_show {
  display: block;
}

.modal {
  background-color: white;
  border-radius: 40px;
  margin: auto;
  max-width: 800px;
  max-height: min-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  font-size: 50px;
}
.modal__msg {
  font-weight: 700;
  margin-bottom: 15px;
}
.modal__secret {
  font-weight: 600;
  margin-bottom: 15px;
}
.modal__answer {
  color: greenyellow;
}
.modal__new-btn {
  padding: 15px;
  border-radius: 50px;
  background-color: #5455AC;
  color: white;
}

.disable-btn {
  background-color: #8888c5;
  pointer-events: none;
  user-select: none;
}

.overflow-body {
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
